In [4]:
import pandas as pd
df = pd.read_csv('customer_shopping_behavior.csv')
print(df.head())
# Analyze the data  to find trends and patterns in customer shopping behavior

   Customer ID  Age Gender Item Purchased  Category  Purchase Amount (USD)  \
0            1   55   Male         Blouse  Clothing                     53
1            2   19   Male        Sweater  Clothing                     64
2            3   50   Male          Jeans  Clothing                     73
3            4   21   Male        Sandals  Footwear                     90
4            5   45   Male         Blouse  Clothing                     49

        Location Size      Color  Season  Review Rating Subscription Status  \
0       Kentucky    L       Gray  Winter            3.1                 Yes
1          Maine    L     Maroon  Winter            3.1                 Yes
2  Massachusetts    S     Maroon  Spring            3.1                 Yes
3   Rhode Island    M     Maroon  Spring            3.5                 Yes
4         Oregon    M  Turquoise  Spring            2.7                 Yes

   Shipping Type Discount Applied Promo Code Used  Previous Purchases  \
0        Express              Yes             Yes                  14
1        Express              Yes             Yes                   2
2  Free Shipping              Yes             Yes                  23
3   Next Day Air              Yes             Yes                  49
4  Free Shipping              Yes             Yes                  31

  Payment Method Frequency of Purchases
0          Venmo            Fortnightly
1           Cash            Fortnightly
2    Credit Card                 Weekly
3         PayPal                 Weekly
4         PayPal               Annually

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [6]:
df.describe(include='all')

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3863.000000,3900,3900,3900,3900,3900.000000,3900,3900
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,2,NaN,6,7
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,No,NaN,PayPal,Every 3 Months
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,2223,NaN,677,584
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.750065,NaN,NaN,NaN,NaN,25.351538,NaN,NaN
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.716983,NaN,NaN,NaN,NaN,14.447125,NaN,NaN
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,NaN,13.000000,NaN,NaN
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.800000,NaN,NaN,NaN,NaN,25.000000,NaN,NaN
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,NaN,38.000000,NaN,NaN
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,50.000000,NaN,NaN

In [7]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [8]:
# fill missing Review Rating values with the mean per Category (column name is 'Category')
df['Review Rating'] = df.groupby('Category')['Review Rating'].transform(lambda x: x.fillna(x.mean()))
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [9]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ', '_')
print(df.columns)

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount_(usd)', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [10]:
df = df.rename(columns={'purchase_amount_(usd)': 'purchase_amount'})
print(df.columns)

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [11]:
# create a new column age_group
labels = ['young adult', 'adult', 'Middle-aged', 'Senior']
df['age_group'] = pd.qcut(df['age'], q=4, labels=labels)
print(df[['age', 'age_group']].head(10))

   age    age_group
0   55  Middle-aged
1   19  young adult
2   50  Middle-aged
3   21  young adult
4   45  Middle-aged
5   46  Middle-aged
6   63       Senior
7   27  young adult
8   26  young adult
9   57  Middle-aged

In [12]:
# create column purchase frequency_days 
frequency_mapping = {
    'Fortnightly': 14,
    'Weekly': 7,
    'Monthly': 30,
    'Quarterly': 90,
    'Bi-Weekly': 14,
    'Annually': 365,
    'Every 3 Months': 90
}
df['purchase_frequency_days'] = df['frequency_of_purchases'].map(frequency_mapping)
print(df[['purchase_frequency_days', 'frequency_of_purchases']].head(10))

   purchase_frequency_days frequency_of_purchases
0                       14            Fortnightly
1                       14            Fortnightly
2                        7                 Weekly
3                        7                 Weekly
4                      365               Annually
5                        7                 Weekly
6                       90              Quarterly
7                        7                 Weekly
8                      365               Annually
9                       90              Quarterly

In [13]:
print(df[['discount_applied', 'promo_code_used']].head(10))

  discount_applied promo_code_used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes
3              Yes             Yes
4              Yes             Yes
5              Yes             Yes
6              Yes             Yes
7              Yes             Yes
8              Yes             Yes
9              Yes             Yes

In [14]:
print(df[['purchase_frequency_days', 'frequency_of_purchases']].all())

purchase_frequency_days    True
frequency_of_purchases     True
dtype: bool

In [15]:
df = df.drop('promo_code_used', axis=1, errors='ignore')
print(df.columns)

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency_days'],
      dtype='object')

In [17]:
# Ensure correct data types and clean values
df['purchase_amount'] = pd.to_numeric(df['purchase_amount'], errors='coerce')
df['gender'] = df['gender'].str.strip().str.capitalize()

# Total revenue by gender
total_revenue = df.groupby('gender')['purchase_amount'].sum()

print(total_revenue)

gender
Female     75191
Male      157890
Name: purchase_amount, dtype: int64

In [25]:
# which customer used discount but still spent more than the average purchase amount
from httpx import head


average_purchase_amount = df['purchase_amount'].mean()
discount_customers = df[(df['discount_applied'] == True) & (df['purchase_amount'] > average_purchase_amount)]
print(discount_customers[['customer_id', 'purchase_amount', 'discount_applied']].head(10))

    customer_id  purchase_amount  discount_applied
1             2               64              True
2             3               73              True
3             4               90              True
6             7               85              True
8             9               97              True
11           12               68              True
12           13               72              True
15           16               81              True
19           20               90              True
21           22               62              True

In [30]:
# which are the top 5 products with the highest average review rating
df['review_rating'] = pd.to_numeric(df['review_rating'], errors='coerce')

top_products = (
    df.groupby('item_purchased')['review_rating']
      .mean()
      .sort_values(ascending=False)
      .head(5)
)

print(top_products)

item_purchased
Gloves     3.860785
Sandals    3.844336
Boots      3.818707
Hat        3.801104
Skirt      3.784946
Name: review_rating, dtype: float64

In [38]:
# compare the average purchase amount between standard and express shipping.
df['purchase_amount'] = pd.to_numeric(df['purchase_amount'], errors='coerce')

average_purchase_by_shipping = (
    df.groupby('shipping_type')['purchase_amount']
      .mean()
)

print(average_purchase_by_shipping)

shipping_type
2-day shipping    60.733652
Express           60.475232
Free shipping     60.410370
Next day air      58.631173
Standard          58.460245
Store pickup      59.893846
Name: purchase_amount, dtype: float64

In [45]:
#Do subscribed customers spend more? Compare average spend and total revenue between subscribers and non-subscribers.
# Compare average spend between subscribers and non-subscribers
average_spend_by_subscription = df.groupby('subscription_status')['purchase_amount'].mean()
total_revenue_by_subscription = df.groupby('subscription_status')['purchase_amount'].sum()

comparison_table = pd.DataFrame({
    'Average Spend': average_spend_by_subscription.round(2),
    'Total Revenue': total_revenue_by_subscription,
    'Total Customers': total_customers_by_subscription
})

print("Subscription Status Comparison:")
print(comparison_table)

Subscription Status Comparison:
                     Average Spend  Total Revenue  Total Customers
subscription_status
No                           59.87         170436             2847
Yes                          59.49          62645             1053

In [47]:
# Which 5 products have the highest percentage of purchases with discounts applied?
df['has_discount'] = df['discount_applied'] == True
product_discount_stats = df.groupby('item_purchased')['has_discount'].agg(['sum', 'count'])
product_discount_stats['percentage'] = (product_discount_stats['sum'] / product_discount_stats['count'] * 100).round(2)
top_5_products = product_discount_stats.nlargest(5, 'percentage')
print("Top 5 Products with Highest Percentage of Purchases with Discounts Applied:")
print(top_5_products[['percentage']])

Top 5 Products with Highest Percentage of Purchases with Discounts Applied:
                percentage
item_purchased
Hat                  50.00
Sneakers             49.66
Coat                 49.07
Sweater              48.17
Pants                47.37

In [68]:
#Segment customers into New, Returning, and Loyal based on their total number of previous purchases, and show the count of each segment.
import pandas as pd
df['previous_purchases'] = pd.to_numeric(df['previous_purchases'], errors='coerce')
def segment_customer(purchases):
    if purchases == 1:
        return 'New'
    elif 2 <= purchases <= 10:
        return 'Returning'
    else:
        return 'Loyal'

df['customer_segment'] = df['previous_purchases'].apply(segment_customer)
segment_counts = df['customer_segment'].value_counts()
print(f"Loyal = {segment_counts.get('Loyal', 0)}")
print(f"New = {segment_counts.get('New', 0)}")
print(f"Returning = {segment_counts.get('Returning', 0)}")

Loyal = 3116
New = 83
Returning = 701

In [70]:
# What are the top 3 most purchased products within each category.
top_products_by_category = df.groupby('category')['item_purchased'].apply(lambda x: x.value_counts().head(3))
print("Top 3 Most Purchased Products Within Each Category:")
print(top_products_by_category)

Top 3 Most Purchased Products Within Each Category:
category
Accessories  Jewelry       171
             Sunglasses    161
             Belt          161
Clothing     Blouse        171
             Pants         171
             Shirt         169
Footwear     Sandals       160
             Shoes         150
             Sneakers      145
Outerwear    Jacket        163
             Coat          161
Name: item_purchased, dtype: int64

In [71]:
# Are customers who are repeat buyers (more than 5 previous purchases) also likely to subscribe?
repeat_buyers = df[df['previous_purchases'] > 5]
subscription_counts = repeat_buyers['subscription_status'].value_counts()
print("Subscription Status Among Repeat Buyers:")
print(subscription_counts)

Subscription Status Among Repeat Buyers:
subscription_status
No     2518
Yes     958
Name: count, dtype: int64

In [72]:
# what is revenue contribution of each age group
revenue_by_age_group = df.groupby('age_group')['purchase_amount'].sum()
print("Revenue Contribution by Age Group:")
print(revenue_by_age_group)

Revenue Contribution by Age Group:
age_group
young adult    62143
adult          55978
Middle-aged    59197
Senior         55763
Name: purchase_amount, dtype: int64

C:\Users\ramch\AppData\Local\Temp\ipykernel_3668\743142249.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  revenue_by_age_group = df.groupby('age_group')['purchase_amount'].sum()

In [ ]:
df.to_csv("customer_shopping_behavior_cleaned.csv", index=False)

In [ ]:
import os
os.getcwd()

'c:\\Users\\ramch\\Downloads\\my project'

In [82]:
os.listdir()

['.vscode',
 'customer_shopping_behavior.csv',
 'customer_shopping_behavior_cleaned.csv',
 'data.ipynb']